:host {
    .image {
        &.m-type--background {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            width: 100%;
        }

        &.m-repeat {
            background-repeat: repeat;
        }
 
        &.m-expand {
            left: calc(-52vw + 50%);
            width: 103vw;
            position: relative;
        }
    }
}