<div [ngSwitch]="type">
    <div *ngSwitchCase="'background'" [style.background-image]="src && 'url(' + src +')' || ''" class="image m-type--background" [ngClass]="modifiers" [ngStyle]="getStyles()">
        <ng-content></ng-content>
    </div>
    <img *ngSwitchCase="'image'" [attr.src]="src" border="0" [ngStyle]="getStyles()" [ngClass]="modifiers" class="image m-type--image">
</div>