@import 'nib'

.container
    display: block
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    clearfix()

    &.m-zindex--100 {
        z-index 100;
    }

    &.m-width--auto {
        max-width: none
    }

    &.m-width--400 {
        max-width: 400px
    }

.background 
    width: 100%
    overflow: hidden;

    &.m-shape--shield {
        border-radius: top 50% bottom 85%
    }

    &.m-shape--round {
        border-radius: 15px
    }

    &.m-hover--blend:hover {
        background: #EEF2F5
    }

    &.m-hover--round_img:hover {
        & >>> img {
            border-radius: 50%
        }
    }

    &.m-bgposition--right {
        background-position: right center;
        background-repeat: no-repeat;
    }

    for s in (1000 950 900 850 800 750 700 650 600 550 500 450 400)
        $size = s + 0px
        +below($size)
            &.m-below{s}-bg--cover
                background-size cover;
            &.m-below{s}-bg--contain
                background-size contain;


