<div class="background" [style.backgroundColor]="background" [style.backgroundImage]="bgImage && 'url(' + bgImage + ')' || ''" [style.backgroundSize]="bgSize" [ngClass]="bgModifiers" [ngStyle]="getStyles()">
    <div class="container" [ngClass]="modifiers">
        <ng-content></ng-content>
    </div>
</div>