<div tooltip ngToolTipClass="{{ 'tooltip' + (tooltip_class ? ' ' + tooltip_class : '') }}" content="{{ description }}" [style.textAlign]="align || 'left'" class="text" [ngClass]="modifiers" [ngStyle]="getStyles()">
    <ng-content></ng-content>
</div>