@import 'nib'

$base-font-size = 16px

rem($px)
    ($px/$base-font-size) rem

:host
    position: relative;

    &.m-zindex--100 {
        z-index: 100;
        position: relative;
    }

    for i in (1..20)
        &.col--{i}
            column(i / 20)
            min-height 1px
            min-width 1px

        &.span--{i}
            span(i / 20)
            min-height 1px
            min-width 1px

        &.shift--{i}
            min-height: 1px
            move(i / 20, span)

        &.shift-col--{i}
            min-height: 1px
            move(i / 20)

    for s in (1000 950 900 850 800 750 700 650 600 550 500 450 400)
        $size = s + 0px
        +below($size)
            for i in (0..20)
                &.m-below{s}-col--{i}
                    column(i / 20)
                    min-height 1px
                    min-width 1px

                &.m-below{s}-span--{i}
                    span(i / 20)
                    min-height 1px
                    min-width 1px

                &.m-below{s}-shift--{i}
                    min-height: 1px
                    move(i / 20, span)

                &.m-below{s}-shift-col--{i}
                    min-height: 1px
                    move(i / 20)

            for ms in (-144 -80 -48 -40 -32 -24 -20 -16 -12 -8 -4 -2 0 2 4 8 10 12 16 24 32 40 48 56 80 102 121 144 196)
                for mp in ((b bottom) (t top) (l left) (r right))
                    $size = ms + 0px

                    &.m-below{s}-m{mp[0]}--{ms}
                        margin-{mp [ 1 ]} rem($size)