@import 'nib'

.h-on-hover--wrapper {

  .h-on-hover--visibility {
    opacity: 0 !important;
    visibility hidden !important;
  }

  .h-on-hover--block {
    display none !important;
  }

  &:hover {

    .h-on-hover--visibility {
      opacity: 1 !important;
      visibility visible !important;
    }

    .h-on-hover--block {
      display block !important
    }

  }

}

rem($px)
  ($px/$base-font-size) rem

// margin/padding top, left, etc.
for s in (-144 -80 -48 -40 -32 -24 -20 -16 -12 -8 -4 -2 0 2 4 8 10 12 16 24 32 40 48 56 80 102 121 144 150 196)
  for p in ((b bottom) (t top) (l left) (r right))
    $size = s + 0px

    .h-m{p[0]}--{s}
      margin-{p [ 1 ]} rem($size)

for s in (0 2 4 8 10 12 16 24 32 40 48 56 80 102 121 144)
  for p in ((b bottom) (t top) (l left) (r right))
    $size = s + 0px

    .h-p{p[0]}--{s}
      padding-{p [ 1 ]} rem($size)

for s in (-144 -80 -48 -40 -32 -24 -20 -16 -12 -8 -4 -2 0 2 4 8 10 12 16 24 32 40 48 56 80 102 121 144 196)
  $size = s + 0px

  .h-m--{s}
    margin rem($size)

for s in (0 2 4 8 10 12 16 24 32 40 48 56 80 102 121 144)
  $size = s + 0px

  .h-p--{s}
    padding rem($size)

for s in (0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100)
  $size = s + 0px

  .h-w--{$size}
    width ($size) % !important

for s in (-360 -270 -180 -150 -120 -90 -60 -45 -30 0 30 45 60 90 120 150 180 270 360)
  $deg = s + 0deg

  .h-rotate--{s}
    transform: rotate(($deg) deg)

for s in (100 200 300 400 500 600 700 800 900 1000)
  $transition = s + 0ms
  .h-transition-ease-out--{s}
    transition: $transition ease-out
  .h-transition-ease-in--{s}
    transition: $transition ease-in
  .h-transition-ease-out--{s}--important
    transition: $transition ease-out !important
  .h-transition-ease-in--{s}--important
    transition: $transition ease-in !important

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

.h-hidden {
  display: none;
}

.h-float--left {
  float: left;
}

.h-float--right {
  float: right;
}

.h-center {
  center()
}

.h-text--center {
  text-align center
}

.h-center--abs {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

for s in (1000 950 900 850 800 750 700 650 600 550 500 450 400)
  $size = s + 0px
  +below($size)

    .h-below{s}-center--abs
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);

    .h-below{s}-center--disable
      top: auto;
      left: auto;
      position: relative;
      transform: none;

    .h-below{s}-br--none {
      border-radius:none !important
    }

    for r in (0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100)
      $r_size = r + 0px
      .h-below{s}-radius--{$r_size}
        border-radius ($r_size) !important

    for tp in ((l left) (c center) (r right))
      $t_value = tp[ 1 ];
      .h-below{s}-text--{ tp[ 0 ] }
        text-align: $t_value !important

    for w in (0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100)
      $w_size = w + 0px
      .h-below{s}-w--{$w_size}
        width ($w_size) % !important

    for m in (-144 -80 -48 -40 -32 -24 -20 -16 -12 -8 -4 -2 0 2 4 8 10 12 16 24 32 40 48 56 80 102 121 144 150 196)
      for mp in ((b bottom) (t top) (l left) (r right))
        $size = m + 0px
        .h-below{s}-m{mp[0]}--{m}
          margin-{mp [ 1 ]} rem($size) !important

    for p in (-144 -80 -48 -40 -32 -24 -20 -16 -12 -8 -4 -2 0 2 4 8 10 12 16 24 32 40 48 56 80 102 121 144 150 196)
      for pp in ((b bottom) (t top) (l left) (r right))
        $size = p + 0px
        .h-below{s}-p{pp[0]}--{p}
          padding-{pp [ 1 ]} rem($size) !important

.h-shadow--white {
  box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.4)
}

.h-overflow--auto {
  overflow auto
}

.h-overflow--visible {
  overflow visible
}

.h-overflow--hidden {
  overflow: hidden
}

.h-bs--border-box {
  box-sizing: border-box;
}

.h-br--circle {
  border-radius: 50%
}

.h-btrr---circle {
  border-top-right-radius: 50%
}

.h-btlr---circle {
  border-top-left-radius: 50%
}

.h-bbrr---circle {
  border-bottom-right-radius: 50%
}


.h-bblr---circle {
  border-bottom-left-radius: 50%
}

.h-to--background {
  z-index: -1
}

.h-d--ib {
  display: inline-block;
}

.h-flip--vertical {
  transform: rotateZ(180deg)
}