// libs
@import 'jeet'
@import 'nib'
@import 'rupture'

$base-font-size = 16px

@import 'mixins'

rupture.scale = 0 400px 600px 800px 1000px 1800px
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face
    font-family 'dinroundpro'
    font-weight: 500
    src url(../fonts/dinroundpro-medium.otf) format('opentype')

@font-face
    font-family 'dinroundpro'
    font-weight: 600
    src url(../fonts/dinroundpro-bold.otf) format('opentype')

body, html {
    padding: 0;
    margin: 0;
}    

.tooltip {
    box-shadow: 0 10px 18px alpha(#0096F2, 30%);
    padding: 28px 32px;
    border-radius: 25px;
    max-width: 300px;
    font-family: "Roboto"

    &:after {
        content:'';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10.4px 6px 0 6px;
        border-color: #fff transparent transparent transparent;
        display: block
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -5px;
    }

    &.static {
        position: absolute;
        left: 100%;
        max-width: none;
        width: 300px;
        margin-left: 30px;
        top: 50%;
        transform: translateY(-50%)

        &.error {
            display: none;
        }
    }

    +below(900px) {
        &.static {
            display: none !important;
        }
    }

    &.to-top:after {
        border-style: solid;
        border-width: 0 6px 10.4px 6px;
        border-color: transparent transparent #ffffff transparent;
        bottom: auto;
        top: -10px;
    }

    &.to-left:after {
        border-style: solid;
        border-width: 6px 10.4px 6px 0;
        border-color: transparent #fff transparent transparent;
        bottom: auto;
        top: 50%;
        margin-left: 0;
        margin-top: -5px;
        left: -10px;        
    }
}