<div class="form-group" [ngClass]="modifiers">
    <label [attr.for]="id" class="form-group__label">
        {{ label }}
        <input class="form-group__control"
               [textMask]="{mask: _mask}"  [(ngModel)]="model" [required]="required ? true : null"
               [attr.id]="id" [attr.name]="name" [attr.type]="type" [attr.placeholder]="placeholder"/>
        <div *ngIf="error_tooltip" class="ng-tool-tip-content" class="error static tooltip to-left">
            Пожалуйста, проверьте правильность<br>заполнения этого поля
        </div>
    </label>
</div>