:host {
    display inline;

    .m-theme--big-grey {
        position relative;

        input {
            color: black;
            box-sizing border-box
            width 100%;
            font-size 16px;
            background: #DDE5EB;
            outline none;
            border none;
            height 57px;
            line-height 57px;
            padding: 0 30px;

            &:hover, &:active {
                background: lightness(#0752FF, 90%)
            }

            +placeholder() {
                color: rgba(0, 0, 0, 0.2);
            }

            &.ng-invalid[required].ng-dirty {
                background: lightness(#FF0145, 90%);

                & + .error {
                    display: block;
                }
            }

        }

        &.m-shape {

            &--rounded {
               input {
                   border-radius: 25px;
               }
            }

        }

    }
}