:host {
  display inline;

  input[type=radio] {
    display: none;
  }

  .m-theme--big-blue {
    position relative;
    margin-top: 18px;

    input + label {
      padding-left: 70px;
      line-height: 55px;
      height: 57px;
      display: block;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 3px solid #0752FF;
      }
    }
    input:checked + label {
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 6px;
        left: 6px;
        width: 44px;
        height: 44px;
        background: #0752FF;
        border-radius: 50%;
      }
    }
  }

  .m-theme--small-blue {
    position relative;

    input + label  {
      line-height: 30px;
      padding-left: 40px;
      height: 30px;
      display: block;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        box-sizing border-box;
        width: 30px;
        border-radius: 50%;
        border: 3px solid #0752FF;
      }
    }
    input:checked + label {
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 7px;
        left: 7px;
        width: 16px;
        box-sizing border-box
        height: 16px;
        background: #0752FF;
        border-radius: 50%;
      }
    }
  }

}