<div class="form-group" [ngClass]="modifiers">
    <input [attr.id]="id" [attr.name]="name" class="form-group__control" type="radio" [required]="required ? true : null"
           [attr.value]="value" [checked]="checked"/>
    <label [attr.for]="id" class="form-group__label">
        {{ label }}
    </label>
</div>