:host {
  display inline;

  .m-theme--big-grey {
    position relative;
    display: inline-block;

    select {
      color: black;
      box-sizing border-box
      width 100%;
      font-size 16px;
      background: #DDE5EB;
      outline none;
      border none;
      height 57px;
      -webkit-appearance: none;
      outline none;
      line-height 57px;
      padding: 0 30px;

      &:hover, &:active {
        background: lightness(#0752FF, 90%)
      }

      +placeholder() {
        color: rgba(0, 0, 0, 0.2);
      }

    }

    &.m-shape {

      &--rounded {
        select {
          border-radius: 25px;
        }
      }

    }

  }

  .m-theme--small-grey {
    position relative;
    display: inline-block;

    select {
      color: black;
      box-sizing border-box
      width 100%;
      font-size 14px;
      background: #DDE5EB;
      outline none;
      border none;
      height 44px;
      -webkit-appearance: none;
      outline none;
      line-height 44px;
      padding: 0 30px;

      &:hover, &:active {
        background: lightness(#0752FF, 90%)
      }

      +placeholder() {
        color: rgba(0, 0, 0, 0.2);
      }

    }

    &.m-shape {

      &--rounded {
        select {
          border-radius: 25px;
        }
      }

    }

  }
}