<div class="form-group" [ngClass]="modifiers">
    <label class="form-group__label">
        {{ label }}
        <select [(ngModel)]="model"
                [attr.id]="id"
                [attr.name]="name"
                [ngStyle]="getStyles()"
                [ngClass]="selectModifiers"
                [required]="required ? true : null"
                (change)="value=model;onChange(value)">
            <option *ngIf="placeholder"
                    disabled="disabled"
                    [value]="undefined">{{ placeholder }}</option>
            <option *ngFor="let c of items"
                    [attr.value]="c.value"
                    [attr.selected]="c.value == value ? true : null">{{ c.label }}</option>
        </select>
    </label>
</div>