@import 'nib'

:host {
  display: inline;
  vertical-align top;

  a {

    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto';

    &.m-size--default {
      padding: 7px 28px;
    }

    &.m-size--big {
      padding: 14px 33px;
    }

    &.m-style {
      &--icon {
        i {
          display: block;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          height: 100%;
        }
      }

      &--texticon {
        position: relative
        padding-left: 33px;

        i {
          position: absolute;
          height: 100%;
          width: 10px;
          background-repeat: no-repeat;
          background-position: 50%;
          left: 17px;
          top: 0;
        }
      }
    }

    &.m-color {
      &--blue {
        color: black;
        background: #DDE5EB;

        &:hover {
          background: #0752FF;
        }
      }

      &--blue-shadow {
        color: #fff;
        background: #0752FF;
        box-shadow: 0 0 0 0 transparent;
        transition: box-shadow .2s ease-out;

        &:hover {
          box-shadow 0px 4px 20px -2px rgba(7, 82, 255, 0.63)
        }
      }

      &--blue-blend {
        color: black;
        background: #DDE5EB;

        &:hover {
          background: lightness(#0752FF, 90%);
        }
      }
    }

    &.m-border--blue {
      border: 3px solid #DDE5EB

      &:hover {
        border: 3px solid #0752FF
      }
    }

    &.m-border--white {
      border: 3px solid alpha(white, .5)

      &:hover {
        border: 3px solid #ffffff
      }
    }

    &.m-shape {
      &--circle {
        border-radius: 50%;
        display: inline-block;
      }

      &--rounded {
        border-radius: 25px;
        display: inline-block;
      }
    }

    &.m-rotate-onhover--45 {

      &:hover {
        transform: rotate(90deg)
      }

    }

  }
}