<a tooltip ngToolTipClass="tooltip" hideOnClick="true" content="{{ description }}" preventdefault [attr.href]="href || '#'" [class.button--icon]="icon" [ngClass]="modifiers" [ngStyle]="getStyles()">
    <i [ngClass]="iconModifiers" [style.backgroundImage]="current_icon && 'url(' + current_icon + ')' || ''"></i>
    <ng-content></ng-content>
</a>